@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.kc-key-popup {
	position: fixed;
	bottom: 60%;
	right: 20px;
	width: 50px;
	height: 50px;
}
.kc-key-popup-inner {
	font-family: 'Orbitron';
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	border-radius: 15px;
	font-size: 14pt;
	opacity: 1;
	position: relative;
	-webkit-animation-name: float-up;
	-webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-in-out;
}

.kc-cheats {
	font-family: 'Orbitron';
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	border-radius: 15px;
	padding: 5px 10px;
	position: fixed;
	bottom: 10px;
	left: 10px;
	font-family: 'Roboto Mono', monospace;
	color: white;
}
.kc-cheats-on {
	color: green;
}

@-webkit-keyframes float-up {
	0%   { opacity: 1; top: 4rem; }
	100% { opacity: 0; top: 0; }
}
